#resultados {
    background-color: #fff3e0; /* Naranja claro */
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    box-sizing: border-box;
  }

  #resultados {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.card {
    background-color: var(--card-color);
}